<footer class="footer"><img class="footer__img" src="../static/blog/img/footer/1.jpg" alt="1"/>
    <div class="container">
        <div class="feedback">
            <form class="message" action="#" method="post">
                {% csrf_token %}
                <div class="message__item">
                    <label for="#fullName">Full Name</label>
                    <input type="text" name="fullName" placeholder="Full Name" autocomplete="disable" id="fullName"/>
                </div>
                <div class="message__item">
                    <label for="email">E-mail</label>

                    <input type="email" name="email" placeholder="example@gmail.com" autocomplete="disable" id="email"/>

                </div>
                <div class="message__item">
                    <label for="message">Your message </label>
                    <input type="textarea" name="message" placeholder="Hello..." id="message"/>

                </div>
                <div class="message__item">
                    <button class="submit" type="submit" id="submit">
                        <img src="../static/blog/img/footer/icons/enter .svg" alt="enter"/></button>
                </div>
            </form>
            <div class="contacts">
                <p><span class="contacts__icons"></span><a class="contacts__number" href="tel: +996 773 883 983">+996
                    (773)-883-983</a></p>
                <p><span class="contacts__icons"></span><a class="contacts__number" href="tel: +996 702 214 118">+996
                    (702)-214-118</a></p>
                <p><a class="contacts__mail" href="mailto: travelkg@mail.ru">travelkg@mail.ru</a></p>
                <p><a class="contacts__icon" href="#"><img src="../static/blog/img/footer/icons/instagram 1.svg"
                                                           alt="instagram 1.svg"/></a><a class="contacts__icon"
                                                                                         href="#"><img
                        src="../static/blog/img/footer/icons/whatsapp 1.svg" alt="whatsapp 1.svg"/></a></p>
            </div>
        </div>
        <p class="copyright">
            2021г. Made by UME-4</p>
    </div>
</footer>