{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'blog/includes/links.html' %}
    <meta charset="UTF-8">
    <title>Review </title>
</head>
<body>
{% include 'blog/includes/header.html' %}
<img class="header-img" src="{% static 'blog/img/header/1.jpg' %}" alt="1"/><br>

<div class="features container">
    <h1 class="mb-5" align="center">Reviews</h1>
    {% for post in posts %}
    <div class="card">
        <div class="alert alert-secondary">
            <div class="card-footer">
                {{ post.date_pub }}
                <a href="mailto:{{ post.email }}">{{ post.email }}</a>
            </div>
            <h1 class="card-title">{{ post.full_name }}</h1>
            <p class="card-text">{{ post.text }}</p>

        </div>
    </div>
    {% endfor %}

    <a href="{% url 'rev_create' %}" class="btn-add-review"><button type="button" class="btn btn-primary">Add review</button></a>
</div>


</body>
</html>